@media only screen and (max-width: 470px) {
  label {
    display: block;
    text-align: center;
  }
  .set_jokes {
    display: block;
    margin: 0 auto 15px !important;
    width: 60% !important;
  }
  .refresh_btn {
    display: block;
    margin: 0 auto 30px;
    width: 60% !important;
    float: none !important;
  }
}
