<!doctype html>
<html lang="en" ng-app="jokesManage">
<head>
    <meta charset="utf-8">
    <title>Slideout Demo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <style>
        @font-face {
            font-family: Klavika_Med;
            src: url(fonts/Klavika_Medium.otf);
        }
        @font-face {
            font-family: Klavika_Lig;
            src: url(fonts/Klavika_Light.otf);
        }
    </style>

</head>
<body ng-controller="JokesManageCtrl">

    <nav id="menu">
        <section class="menu_section">
            <h3 class="menu_title">Categories</h3>

            <ul class="categ_list">
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Roundhouse kick</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Beard</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Phone</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Woman</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Horse</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Internet</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">God</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn active_btn categ_btn" ng-click="setCategory($event)">Bomb</button>
                </li>
                <li class="categ_item">
                    <button class="btn my_btn sel_all_btn" ng-click="loadAllCategories()">Select all</button>
                </li>
            </ul>
        </section>
    </nav>

    <main id="panel">
        <button class="toggle-button side_menu_btn">< Jokes Categories</button>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header main_title">Chuck Norris Jokes</h1>

                        <div>
                            <table class="table table-striped">
                                <tr ng-repeat="joke in jokes">
                                    <td>{{joke}}</td>
                                </tr>
                            </table>
                        </div>

                        <label for="amountJokes">Jokes per page</label>
                        <input type="text" class="set_jokes" id="amountJokes" ng-change="sendRequest()" ng-model="amountJokes">

                        <button class="btn btn-primary pull-right refresh_btn" onclick="window.scroll(0, 0)" ng-click="sendRequest()">Refresh</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/slideout/dist/slideout.min.js"></script>
    <script src="js/slideout.js"></script>
    <script src="js/main.js"></script>

</body>
</html>